@use "../abstracts/" as a;

:root {
  // colors
  --clr-dark: #070707;
  --clr-light: #fefefe;

  --clr-bg-1: #131313;
  --clr-bg-2: #1d1d1d;
  --clr-bg-card: #262626;

  --clr-accent: #02dac5;
  --clr-section-header: #6a6a6a;

  // font-families
  --ff-sans: "Inter", sans-serif;
  --ff-serif: "Kurale", serif;

  // font-sizes from ../abstract/type
  // Might need to add more breakpoints
  @each $screen-size, $font-size in a.$type-scale {
    @if $screen-size == small {
      @each $size, $value in $font-size {
        --fs-#{$size}: #{$value};
      }
    } @else {
      @include a.breakpoint(medium) {
        @each $size, $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }
}
