@use "../../sass/abstracts/" as abs;

.hero.container {
  // @include abs.breakpoint(large) {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: abs.rem(93);
  padding-inline: abs.rem(20);

  @include abs.breakpoint(medium) {
    padding-inline: abs.rem(40);
  }

  @include abs.breakpoint(large) {
    margin-top: abs.rem(163);
  }
}

.hero {
  &__title {
    text-align: center;
    font-size: abs.rem(40);
    font-weight: medium;

    // @include abs.breakpoint(large) {
    //   mt
    // }
  }

  &__body {
    margin-top: abs.rem(68);
    text-align: center;
    font-size: abs.rem(24);
    font-weight: 400;

    @include abs.breakpoint(medium) {
      margin-top: abs.rem(26);
    }

    @include abs.breakpoint(large) {
      max-width: 750px;
      margin-top: abs.rem(14);
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: abs.rem(70);
    margin-bottom: abs.rem(50);

    @include abs.breakpoint(medium) {
      justify-content: center;
      gap: abs.rem(82);
      margin-top: abs.rem(70);
      margin-bottom: abs.rem(100);
    }

    @include abs.breakpoint(large) {
      gap: abs.rem(25);
      margin-top: abs.rem(52);
    }

    a {
      svg {
        width: 46px;
        height: 46px;
        color: var(--clr-light);
        transition: transform 500ms ease-in-out;
      }
      &:hover,
      &:focus {
        svg {
          color: var(--clr-accent);
          transform: scale(1.05);
        }
      }
    }
  }
}
