@use "../../sass/abstracts/" as abs;

.work {
  background-color: var(--clr-bg-1);
  // display: flex;
  // align-items: center;

  .container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: abs.rem(47);
    padding-inline: abs.rem(20);

    @include abs.breakpoint(medium) {
      padding-inline: abs.rem(40);
    }

    @include abs.breakpoint(large) {
      padding-inline: 0;
      padding-top: abs.rem(65);
    }

    // @include abs.breakpoint(large) {
    //   margin-top: abs.rem(163);
    // }
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: abs.rem(32);

  @include abs.breakpoint(xlarge) {
    flex-direction: row;
    gap: abs.rem(47);
  }
}
